<% content_for :left_side do %>
  <h1>Intimidating Stare Monkey</h1>
  <p>You're just about to leave for the big game but you need something, nah, someone to get you hyped up!</p>
<% end %>   

<% content_for :right_side do %>
  <p>Well, we have a solution for you!</p>
  <p>Introducing <strong>Intimidating Stare Monkey</strong>! For only $23,000, you can have your own monkey give you dirty looks and get your blood boiling. <em>Satisfaction not guarenteed</em></p>
  <img src="/images/monkey3.jpg" alt="Intimidating Monkey">
<% end %> 

 
