<!doctype html>
<html>
  <head>
    <title>Do Your Taxes Monkey</title>
  </head>
  <body>
    <h1>Do Your Taxes Monkey</h1>
    <p>It's tax season and you've once again found yourself with a huge pile of papers with no willpower to go through them.</p>
    <p>Well, we have a solution for you!</p>
    <p>Introducing <strong>Do Your Taxes Monkey</strong>! For only $46,000, you can have your own monkey to do your taxes! <em>Satisfaction not guarenteed</em></p>
    <img src="/images/monkey2.jpg" alt="Happy Monkey">
  </body>
</html>