<!doctype html>
<html>
  <head>
    <title>Get Happy Monkey</title>
  </head>
  <body>
    <h1>Get Happy Monkey</h1>
    <p>Are you sad? Are you stuck in a rut that you just can't seem to get yourself out of?</p>
    <p>Well, we have a solution for you!</p>
    <p>Introducing <strong>Get Happy Monkey</strong>! For only $16,000, you can have your own monkey to cheer you up and make faces like this! <em>Satisfaction not guarenteed</em></p>
    <img src="/images/monkey1.jpg" alt="Happy Monkey">
  </body>
</html>