body {
	background-image: url('/images/upfeathers.png');
}

h1 {
	font-family: 'Francois One', sans-serif;
}

p {
	font-family: Arial, sans-serif;
	font-size: 1.25em;
}

img {
	width: 100%;
	max-width: 400px;
	display: block;
	margin: 20px 0;
	border: 3px solid #000;
}

.right {
	padding-top: 20px;
}